<h1>Edit Creation</h1>
<form action="/creations/<%= creation.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="">Title</label>
    <input type="text" name="title" value="<%= creation.title %>"">
    <label for="">Image URL</label>
    <input type="text" name="image_url" value="<%= creation.image_url %>"">
    <button>Submit</button>
</form>