<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://www.dafontfree.net/embed/bGVnbyZkYXRhLzE1My9sLzE4Njk1NS9sZWdvw79oaWN0eXBlLnR0Zg" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <div class="brand">
            <img src="https://i.etsystatic.com/33490561/r/il/bec86b/3663523366/il_1588xN.3663523366_ox2t.jpg" alt="">
            <h1><a href="/">The Brick Wall</a> </h1>    
        </div>
        <div class="user-options">
            <h2><a href="/creations/new">Share</a></h2>
            <form action="">
                <input type="text" placeholder="Search creations" class="search">
            </form>
            <% if(isLoggedIn()){ %>
                <form action="/sessions" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button id="logout">Logout<span><%= currentUser.username%></span></button>
                </form>
            <% } %>
        </div>
    </header>
    
    <%-body%>
</body>
</html>