<div class="signup-login">
    <form action="/sessions" method="post" class="login">
        <div class="email">
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div class="password">
            <label for="">Password</label>
            <input type="password" name="password">
        </div>
        <button id="login">Log in</button>
    </form>

    <form action="/users" class="sign-up-in">
        <p for="">Don't have an account?</p>
        <button id="signup">Sign up</button>
    </form>
</div>