<form action="/creations" method="post" class="post-it">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Image URL</label>
    <input type="text" name="image_url">
    <label for="">About</label>
    <textarea name="about" cols="40" rows="5"></textarea>
    <button>Post</button>
</form>