<form action="/creations" method="post">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Image URL</label>
    <input type="text" name="image_url">
    <button>Submit</button>
</form>