<div class="signup-login">
    <form action="/users" method="post">
        <div class="username">
            <label for="">Username</label>
            <input type="text" name="username">
        </div>
        <div class="email">
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div class="password">
            <label for="">Password</label>
            <input type="password" name="password">
        </div>
        <div class="password">
            <label for="">Confirm Password</label>
            <input type="password" name="confirm_password">
        </div>
        <button>Sign up</button>
    </form>
</div>